*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    background-color: white;
    color: black;

}
  
.dark-mode {
    background-color: black;
    color: white;
}

#container0 {
    display: grid;
    grid-template-columns: 15% auto auto auto auto;
    height: 100vh;
}

#container1{
    left: 0;
    top: 0;
    bottom: 0;
    width: 15%;
    position: fixed;
    background-color: darkslategray;
}

#container2 {
    width: 100%;
    padding: 10px;
    float: right;
    grid-column-start: 2;
    grid-column-end: 6;
}

#sidelist ul li{
    list-style: none;
    margin: 25px 20px 0 20px;
    font-size: 1.1em;
    color: aliceblue;
}
#sidelist ul li i {
    margin-right: 20px;
}
#sidelist ul .side {
    text-decoration: none;
}

#sidelist ul li:hover {
    cursor: pointer;
    color: goldenrod;
}
#brand a {
    text-decoration: none;
    font-size: 2em;    
    color: darkcyan;
}
#brand{
    text-align: center;
}
button{
    margin: 0px 10px 10px 35px;
    bottom: 0;
}

a{
    text-decoration: none;
}

h1{
    text-align: center;
    text-transform: capitalize;
    font-size: large;
    color: cadetblue;
}