*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    background-color: white;
    color: black;
  
}
  
.dark-mode {
    background-color: black;
    color: white;
}

#container0 {
    
    padding: 5px;
    height: 90vh;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.grid-itemt{
    grid-column: span 3;
}


#container1{
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    height: 100vh;
    background-color: darkslategray;
}

#container2 {
    width: 85%;
    right: 0;
    padding: 10px;
}

#sidelist ul li{
    list-style: none;
    margin: 25px 20px 0 20px;
    font-size: 1.1em;
    color: aliceblue;
}
#sidelist ul li i {
    margin-right: 20px;
}
#sidelist ul .side {
    text-decoration: none;
}

#sidelist ul li:hover {
    cursor: pointer;
    color: goldenrod;
}
#brand a {
    text-decoration: none;
    font-size: 2em;    
    color: darkcyan;
}
#brand{
    text-align: center;
}
button{
    margin: 0px 10px 10px 35px;
    bottom: 0;
}

a{
    text-decoration: none;
}

h1{
    text-align: center;
    text-transform: capitalize;
    font-size: large;
    color: cadetblue;
}